Repository cybsafe/phishtray, pull requests merged in 2019-12, with the labels that each got.

#403 Ie11/391 2 more fixes
  frontend/src/components/Header/index.js
  frontend/src/components/WebBrowser/WebBrowser.js
  frontend/src/pages/Accounts/index.js
  frontend/src/pages/Contacts/index.js
Labels: Needs Review, frontend

#422 Support Markdown BlockPage
  frontend/src/components/WebBrowser/websites/Blocked/index.js
Labels: Needs Review, frontend

#428 Redo Components to use CustomMarkdown
  frontend/src/components/Markdown/CustomMarkdown.js
  frontend/src/components/WebBrowser/websites/Blocked/index.js
  frontend/src/components/WebBrowser/websites/Training/index.js
  frontend/src/components/WebBrowser/websites/Warning/index.js
  frontend/src/pages/Afterword/index.js
  frontend/src/pages/Exercise/index.js
  frontend/src/pages/Inbox/components/Email.js
Labels: Needs Review, frontend

#397 Ie11/391 (1) fix buttons and clock
  frontend/package.json
  frontend/src/components/Header/StopClock.js
  frontend/src/components/Header/index.js
  frontend/src/pages/Exercise/index.js
  frontend/yarn.lock
  package.json
Labels: Needs Review, frontend

#431 424 copy exercise improvements
  exercise/helpers.py
  exercise/migrations/0024_auto_20191208_2326.py
  exercise/models.py
  exercise/signals.py
  exercise/tests/test_api.py
  exercise/tests/test_helpers.py
  exercise/tests/test_models.py
  phishtray/test/base.py
Labels: Needs Review, backend

#437 424 - allow emails to be called the same as long as the sort order is…
  exercise/helpers.py
Labels: backend

#438 Revert "Bump django from 2.2.6 to 2.2.8 (#433)"
  requirements.txt
Labels: backend

#440 read secret key from env var
  .travis.yml
  docker/local/docker-compose.yml
  phishtray/settings.py
Labels: backend
